/* 기본 스타일 설정 */
body {
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
}

/* 상단 바 스타일 */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 75px;
  background-color: white;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* 서브메뉴보다 위에 표시 */
}

/* 로고와 버튼 스타일 */
header > span {
  display: flex;
  align-items: center;
}

.mainbutton {
  width: 100px;
  height: 50px;
  margin-left: 85px; /* 왼쪽 여백 */
}

header img {
  height: 50px; /* 이미지 높이 조정 */
}

/* 메뉴 스타일 */
.main-menu {
  margin-left: auto;
  display: flex;
  align-items: center;
  margin-left: 800px;
}

.main-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.main-menu li {
  padding: 10px 20px;
  cursor: pointer;
  position: relative;
}

.main-menu li:hover {
  background-color: #f0f0f0;
}

/* 서브메뉴 스타일 */
.submenu {
  display: none;
  position: absolute;

  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 200px;
  height: auto;
  padding: 0; /* 내부 여백 제거 */
  z-index: 1000;
  width: 200px; /* 고정 너비 */
  box-sizing: border-box; /* 패딩을 포함한 크기 계산 */
  font-family: 'Noto Sans KR', sans-serif;
}

.submenu ul {
  list-style-type: none;
  padding: 0;
  height: auto; /* 내용에 따라 자동 조정 */
  display: flex;
  flex-direction: column;
}

.font-border {
}
.submenu ul li {
  padding: 20px;
  cursor: pointer;
  padding: 8px; /* 기존의 20px에서 10px으로 줄여 간격을 좁힙니다 */
  margin: 0; /* 필요하다면 margin을 줄이거나 제거합니다 */
  text-align: center;
}
.menu-item {
  font-size: 17px;
}

.submenu ul li:hover {
  background-color: #003c82;
  color: white;
  border-radius: 20px;
}

* {
  font-family: 'Noto Sans KR', sans-serif;
}
.login {
  background-color: #003c82;
  width: 100px;
  height: 35px;
  border-radius: 10px;
  text-align: center;
  margin-left: 30px;
}
.logintext {
  color: #fff;
  margin-top: 5px;
  margin-left: 5px;
  text-align: center;
}
.submenu1 {
}
