/* main.css */

/* 기본 스타일 설정 */
body {
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
}

/* 상단 바 스타일 */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 75px;
  background-color: white;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* 서브메뉴보다 위에 표시 */
}

/* 로고와 버튼 스타일 */
header > span {
  display: flex;
  align-items: center;
}

.mainbutton {
  width: 100px;
  height: 50px;
  margin-left: 85px; /* 왼쪽 여백 */
}

header img {
  height: 50px; /* 이미지 높이 조정 */
}

/* 메뉴 스타일 */
.main-menu {
  margin-left: auto;
  display: flex;
  align-items: center;
  margin-left: 800px;
}

.main-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.main-menu li {
  padding: 15px 20px;
  cursor: pointer;
  position: relative;
}

.main-menu li:hover {
  background-color: #f0f0f0;
}

/* 서브메뉴 스타일 */
.submenu {
  display: none;
  position: absolute;
  top: 75px; /* 상단 바 아래 위치 */
  left: 0;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* 상단 바 위에 표시 */
  width: 200px;
}

.submenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.submenu ul li {
  padding: 10px;
  cursor: pointer;
  text-align: center;
}
.menu-item {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 500;
}

.submenu ul li:hover {
  background-color: #003c82;
  color: white;
  border-radius: 20px;
}

#switch {
  position: absolute;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.switch_label {
  position: absolute;
  cursor: pointer;
  display: inline-block;
  width: 58px;
  height: 28px;
  background: #fff;
  border: 2px solid black;
  border-radius: 20px;
  transition: 0.2s;
  left: 1400px;
  top: 25px;
}
.switch_label:hover {
  background: white;
  border: 2px solid black;
}
.onf_btn {
  position: absolute;
  top: 4px;
  left: 3px;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background: black;
  transition: 0.2s;
}

checking style / #switch:checked + .switch_label {
  background: black;
  border: 2px solid black;
}

#switch:checked + .switch_label:hover {
  background: black;
}

#switch:checked + .switch_label .onf_btn {
  left: 34px;
  background: #fff;
  box-shadow: 1px 2px 3px #00000020;
}
