.topbar {
  background-color: #fff;
  padding: 10px;
}
.main-menu {
  background-color: #fff;
  padding: 0; /* 혹은 다른 양수 값 */
  margin-left: -580px; /* 필요에 따라 조정 */
  margin-top: 8px;
}

.main-menu ul {
  list-style-type: none;
  padding: 10px;
  margin: 0;
  display: flex;
}

.main-menu li {
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  cursor: pointer;
  position: relative; /* 추가 */
}

.main-menu li:hover {
  background-color: #e0e0e0; /* 약간의 색상 차이로 가시성 개선 */
}

.main-menu li:hover .submenu {
  display: block; /* 메뉴 항목을 호버할 때 서브메뉴를 표시 */
}

.submenu {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
    0 16px 16px rgba(0, 0, 0, 0.12);
  z-index: 3;
  width: 200px; /* 고정 너비 */
  box-sizing: border-box; /* 패딩을 포함한 크기 계산 */
  font-family: 'Noto Sans KR', sans-serif;
}
.underbar {
  z-index: 3;
  width: 20px;
  height: 5px;
  background-color: #e31010;
  margin-bottom: 100px;
}

.submenu ul {
  list-style-type: none;
  padding: 0;
  height: auto; /* 내용에 따라 자동 조정 */
  display: flex;
  flex-direction: column;
}

.submenu ul li {
  cursor: pointer;
  padding: 8px; /* 유지하거나 조정 */
  margin: 0;
  text-align: center;
}
.submenu ul li:hover {
  background-color: #003c82; /* 호버 시 배경색 변경 */
  color: #fff; /* 호버 시 텍스트 색상 변경 */
  border-radius: 20px;
}

.font-border {
  font-family: 'Noto Sans KR', sans-serif;
}
